body {
	font-family: 'IM Fell DW Pica', serif;
  background: #000;
  color: #fff;
  background: #303030,radial-gradient(circle, transparent 50%, black 150%);
}

img.logo {
  left: 50%;
  margin: 2em auto;
  max-width: 200px;
  position: relative;
  transform: translateX(-50%);
  width: 80vw;
}

.links {
  text-align: center;
  a {
    display: block;
    img {
      max-width: 400px;
      width: 80vw;
    }
  }
}

.parchment {
  color: #000;
  margin: 1em;
  padding: 1em 2.5em;
  position: relative;

  a {
    color: #555;
  }
  svg {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -1;
  }
}

#copyright {
  opacity: 0.75;
  padding: 1em;
}